<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="Newsletter"
		label="Postman Newsletter"
		description="This component enables creating and sending newsletter to registered users">
		<field 
			name="fromName" 
			type="text" 
			default="" 
			size="50"
			label="Sender Name" 
			description="Name visible in the from section \rof the newsletter email" />
		<field 
			name="fromEmail" 
			type="text" 
			default="" 
			size="50"
			label="Sender Email Address" 
			description="From email" />
		<field 
			name="fromName" 
			type="text" 
			default="Administrator" 
			size="50"
			label="Sender Name" 
			description="From Name" />
		<field 
			name="dateFormat" 
			type="text" 
			default="YYYY-MM-DD hh:mm:ss" 
			size="30"
			label="Date format" 
			description="" />
		<field 
			name="emailValidation" 
			type="radio" 
			default="0"
			label="Validate email" 
			description="Check to enable Email validation">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</field>
		<field 
			name="listLimit" 
			type="text" 
			default="5" 
			size="20"
			label="List limit per page" 
			description="Page list limit" />
		<field 
			name="@spacer" 
			type="spacer" 
			default="" 
			label=""
			description="" />
		<field 
			name="emailPerBatch" 
			type="text" 
			default="100" 
			size="20"
			label="Emails per batch" 
			description="Emails per batch" />
		<field 
			name="batchInterval" 
			type="text" 
			default="1" 
			size="20"
			label="Batch interval" 
			description="Batch interval" />
		<field 
			name="scriptTimeout" 
			type="text" 
			default="60" 
			size="20"
			label="Script timeout" 
			description="Script timeout" />
		<field 
			name="@spacer" 
			type="spacer" 
			default="" 
			label=""
			description="" />
		<field 
			name="debug" 
			type="radio" 
			default="0" 
			size="20"
			label="DEBUG" 
			description="Log debug messages">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
	</fieldset>
</config>
